img{
    width: 15px;
    height: 15px;
    margin: 0 15px;
}
.menu {
    padding: 10px 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu:hover {
    background-color: lightgray;
}
.section-head{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sectionwrapper {
    height: 100%;
    box-shadow: 4px 0px 5px lightgrey;
    padding-left: 20px;
}