<!-- Display Added items -->
<div class="tasks" (change)="updatechange();" >
  <div class="selection">

    <!-- checkBox to change the status from Done to Undone and vice versa -->
    <input type="checkbox" name="items"  (click)="checkTick($event, todo);" [checked]="todo.isDone" />
    
    <!-- Display title of task, OnDoubleclick of it we can edit it -->
    <span *ngIf="!isEditing" class="item__title" (dblclick)="startEdit('edit')"   #title>{{ todo.name }}</span>
    <input *ngIf="isEditing" type="text" class="item__textarea" [value]="todo.name" (input)="onTitleChange(input.value,'name')" (focusout)="startEdit('noedit');" #input autofocus="autofocus">
    
    <!-- Display description of task, Onclick of edit icon it can be editable and can close on click of edit icon again  -->
    <span *ngIf="!istextarea && todo.description" class="desc"> <span> Desc: </span> &nbsp; {{todo.description}}</span>
    <textarea *ngIf="istextarea"  placeholder="Add Description...." (input)="onTitleChange(textarea.value,'desc')" #textarea>{{todo.description}}</textarea>
  </div>

  <div>
    <!-- Icon to edit the description of Textarea -->
    <img src="../../../assets/edit.svg" (click)="editinTextArea()" />

    <!-- Icons to Delete the task -->
    <img src="../../../assets/trash.png" alt="remove" class="item__remove delete" (click)="onDelete()" />
  </div>
</div>
